form .tiptap {
  padding: 0 .5rem;
  border: none;
  outline: none;
  min-height: 12rem;
  overflow-y: scroll;
  max-height: 24em;
  line-height: 1.9;
}

.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

div.tiptap h1, div.tiptap h2 {
  padding: .3em 0;
  border-bottom: 1px solid;
  border-color: #ebeef2;
  font-size: 1.5em;
}

div.tiptap h3, div.tiptap h4, div.tiptap h5, div.tiptap h6 {
  font-size: 1.3em;
}

div.tiptap ul {
  margin: .4em 0;
  padding-left: 1.2em;

  li {
    list-style: disc;
  }
}

div.tiptap ol {
  margin: .4em 0;
  padding-left: 1.2em;

  li {
    list-style: decimal;
  }
}

div.tiptap hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}

div.tiptap a {
  color: #68cef8;
  text-decoration: underline;
  cursor: pointer;
}

div.tiptap blockquote {
  padding: .4em 0 .4em 1em;
  border-left: 3px solid #E2E8F0;
}

div.tiptap code {
  background: #6161611a;
  color: #616161;
  border-radius: 0.3em;
}

div.tiptap pre {
  background: #0d0d0d;
  border-radius: 0.5em;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.6em 1em;
}

div.tiptap pre code {
  background: none;
  color: inherit;
  padding: 0;
}

div.tiptap strong {
  font-weight: 400;
  background: linear-gradient(transparent 60%, rgba(255, 241, 34, 0.3) 0);
}

div.tiptap .e-image {
  width: fit-content;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

div.tiptap .e-image[data-size="small"] {
  max-width: 82%;
}

div.tiptap .e-image[data-style="photo-frame"] {
  transform: rotate(2deg) translateX(3px);
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 8px solid #fff;
  will-change: transform;
}

div.tiptap .insert-image-input {
  display: none;
  background: transparent;
}

div.tiptap .ProseMirror-focused {
  outline: transparent;
}

div.tiptap figure.ProseMirror-selectednode.e-image {
  img {
    border: 3px solid rgba(15, 193, 255, 0.4);
    box-sizing: border-box;
  }
}
